<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scheduling</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
  <div class="sidebar">
    <h4 class="text-center text-white">Username</h4>
    <a href="/dashboard_page">Dashboard</a>
    <a href="/schedule_page">Scheduling</a>
    <a href="/course_page">Courses</a>
    <a href="/instructor_page">Instructors</a>
    <a href="#">Settings</a>
  </div>
  <div class="main-content container-fluid">
    <h2>Scheduling</h2>
    <!-- Add Schedule Section -->
    <div class="add-schedule">
      <h3>Add Schedule</h3>
      <form id="add-schedule">
        <div class="form-group">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date" required>
          </div>
          <label for="courseSelect">Select Course</label>
          <select class="form-control" id="courseSelect" name="course">
            <option>Course 1</option>
            <option>Course 2</option>
            <option>Course 3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="instructorSelect">Select Instructor</label>
          <select class="form-control" id="instructorSelect" name="instructor">
            <option>Instructor 1</option>
            <option>Instructor 2</option>
            <option>Instructor 3</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Schedule</button>
      </form>
    </div>
    <!-- Display Schedule Section -->
    <div class="display-schedule mt-4">
      <h3>Display Schedule</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Course</th>
              <th>Instructor</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>2024-05-20</td>
                <td>Course 1</td>
                <td>Instructor 1</td>
                <td><button class="btn btn-warning">Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', path='/js/schedule.js') }}"></script>
</body>
</html>
